In [3]:
import pandas as pd
from sqlalchemy import create_engine
from private_info import postgreSQL_credentials, data_path
#!pip install psycopg2-binary

In [4]:
#https://www.compose.com/articles/using-postgresql-through-sqlalchemy/

engine = create_engine(f'postgresql://postgres:{postgreSQL_credentials}@localhost:5432/covid_data')

connection = engine.connect()

In [95]:
query = """
    SELECT 
        * 
    FROM covid_death_figures
    LIMIT 1
"""
df = pd.read_sql_query(query, connection)
df

,index,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,None,None,None,...,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511,None

In [319]:
"""
    Likelihood of dying in your country
"""
        #MAX(Date) OVER(PARTITION BY Location) AS Recent_date,
    
        

query = """
    WITH reformatted_covid_figures AS(
        SELECT
            Location,
            Date,
            Total_cases,
            Total_deaths,
            100 * (Total_deaths / Total_cases) AS Mortality_percentage
        FROM covid_death_figures
        WHERE CAST(Total_deaths / Total_cases AS CHAR) IS NOT NULL
    ),
    continued_reformatting AS(
        SELECT 
            *,
            RANK() OVER(PARTITION BY Location ORDER BY Date DESC) AS Most_recent_date
        FROM reformatted_covid_figures
    )   
    SELECT 
        Location,
        Date,
        Total_cases,
        Total_deaths,
        Mortality_percentage
    FROM continued_reformatting
        WHERE Most_recent_date = 1
        ORDER BY DATE

        

"""
df = pd.read_sql_query(query, connection)
df

        location        date  total_cases  total_deaths  mortality_percentage
0    Afghanistan  2021-09-20     154585.0        7199.0              4.656985
1         Africa  2021-09-20    8169016.0      206338.0              2.525861
2        Albania  2021-09-20     163404.0        2587.0              1.583193
3        Algeria  2021-09-20     201766.0        5709.0              2.829515
4        Andorra  2021-09-20      15140.0         130.0              0.858653
..           ...         ...          ...           ...                   ...
190      Vietnam  2021-09-20     695744.0       17305.0              2.487265
191        World  2021-09-20  229081278.0     4700003.0              2.051675
192        Yemen  2021-09-20       8718.0        1649.0             18.914889
193       Zambia  2021-09-20     208502.0        3639.0              1.745307
194     Zimbabwe  2021-09-20     128186.0        4569.0              3.564352

[195 rows x 5 columns]

In [344]:
"""
    Determines what percentage of a nation's population has 
    been infected and killed by covid
"""


query = """
    WITH ranked_mortality AS (
        SELECT 
            Date,
            Location,
            Population,
            Total_cases,
            Total_deaths,
            (Total_cases/Population)*100 AS Percentage_infected,
            (Total_deaths/Population)*100 AS Percentage_died,
            RANK() OVER(PARTITION BY Location ORDER BY Date DESC) AS Ranked_most_recent_dates
        FROM covid_death_figures
        WHERE CAST(Total_deaths / Population AS CHAR) IS NOT NULL
    )
    SELECT
        Date,
        Location,
        Population,
        Total_cases,
        Total_deaths,
        Percentage_infected,
        Percentage_died
    FROM ranked_mortality
    WHERE
        Ranked_most_recent_dates = 1
    ORDER BY Population DESC
    LIMIT 40
        
"""
df = pd.read_sql_query(query, connection)
df

,date,location,population,total_cases,total_deaths,percentage_infected,percentage_died
0,2021-09-20,World,7.874966e+09,229081278.0,4700003.0,2.908981,0.059683
1,2021-09-20,Asia,4.679661e+09,74250489.0,1104730.0,1.586664,0.023607
2,2021-09-20,China,1.444216e+09,95873.0,4636.0,0.006638,0.000321
3,2021-09-20,India,1.393409e+09,33504534.0,445385.0,2.404501,0.031964
4,2021-09-20,Africa,1.373486e+09,8169016.0,206338.0,0.594765,0.015023
5,2021-09-20,Europe,7.477474e+08,58157532.0,1209338.0,7.777698,0.161731
6,2021-09-20,North America,5.965813e+08,50818825.0,1030430.0,8.518340,0.172722
7,2021-09-20,European Union,4.471899e+08,37425666.0,765093.0,8.369076,0.171089
8,2021-09-20,South America,4.342601e+08,37522058.0,1147168.0,8.640456,0.264166
9,2021-09-20,United States,3.329151e+08,42289819.0,676076.0,12.702885,0.203078
10,2021-09-20,Indonesia,2.763618e+08,4192695.0,140634.0,1.517104,0.050888
11,2021-09-20,Pakistan,2.251999e+08,1227905.0,27327.0,0.545251,0.012135
12,2021-09-20,Brazil,2.139934e+08,21247667.0,590955.0,9.929121,0.276156
13,2021-09-20,Nigeria,2.114007e+08,202191.0,2661.0,0.095643,0.001259
14,2021-09-20,Bangladesh,1.663035e+08,1544238.0,27251.0,0.928566,0.016386
15,2021-09-20,Russia,1.459120e+08,7189445.0,195438.0,4.927247,0.133942
16,2021-09-20,Mexico,1.302622e+08,3573044.0,271765.0,2.742963,0.208629
17,2021-09-20,Japan,1.260508e+08,1680328.0,17247.0,1.333056,0.013683
18,2021-09-20,Ethiopia,1.178762e+08,333698.0,5164.0,0.283092,0.004381
19,2021-09-20,Philippines,1.110469e+08,2385616.0,36934.0,2.148296,0.033260
20,2021-09-20,Egypt,1.042583e+08,297608.0,16992.0,0.285452,0.016298
21,2021-09-20,Vietnam,9.816883e+07,695744.0,17305.0,0.708722,0.017628
22,2021-09-20,Democratic Republic of Congo,9.237799e+07,56463.0,1068.0,0.061122,0.001156
23,2021-09-20,Turkey,8.504274e+07,6874917.0,61805.0,8.084073,0.072675
24,2021-09-20,Iran,8.502876e+07,5442232.0,117526.0,6.400460,0.138219
25,2021-09-20,Germany,8.390047e+07,4155160.0,93058.0,4.952487,0.110915
26,2021-09-20,Thailand,6.995084e+07,1489186.0,15469.0,2.128904,0.022114
27,2021-09-20,United Kingdom,6.820711e+07,7500734.0,135589.0,10.996997,0.198790
28,2021-09-20,France,6.756425e+07,7045422.0,116765.0,10.427736,0.172821
29,2021-09-20,Tanzania,6.149844e+07,1367.0,50.0,0.002223,0.000081
30,2021-09-20,Italy,6.036747e+07,4638516.0,130354.0,7.683800,0.215934
31,2021-09-20,South Africa,6.004200e+07,2884134.0,86216.0,4.803528,0.143593
32,2021-09-20,Kenya,5.498570e+07,246643.0,4995.0,0.448558,0.009084
33,2021-09-20,Myanmar,5.480601e+07,448158.0,17129.0,0.817717,0.031254
34,2021-09-20,South Korea,5.130518e+07,289263.0,2413.0,0.563809,0.004703
35,2021-09-20,Colombia,5.126584e+07,4942249.0,125924.0,9.640433,0.245629
36,2021-09-20,Uganda,4.712353e+07,122277.0,3129.0,0.259482,0.006640
37,2021-09-20,Spain,4.674521e+07,4935534.0,85901.0,10.558374,0.183764
38,2021-09-20,Argentina,4.560582e+07,5241394.0,114518.0,11.492817,0.251104
39,2021-09-20,Sudan,4.490935e+07,38041.0,2879.0,0.084706,0.006411

In [13]:
"""
    Countries' population infection percentage
"""


query = """
    SELECT
        Location,
        Population,
        MAX(Total_cases) AS Highest_infection_count,
        MAX(total_cases/population) * 100 AS Population_infected
    FROM covid_death_figures
    WHERE
        Total_cases/population IS NOT NULL
    GROUP BY
        Location, Population
"""
df = pd.read_sql_query(query, connection)
df

      location  population  highest_infection_count  population_infected
0       Serbia   6804596.0                 872110.0            12.816485
1      Algeria  44616626.0                 201766.0             0.452222
2      Grenada    113015.0                   4077.0             3.607486
3      Tunisia  11935764.0                 700400.0             5.868078
4        Niger  25130810.0                   5964.0             0.023732
..         ...         ...                      ...                  ...
196  Australia  25788217.0                  88710.0             0.343994
197      Palau     18174.0                      5.0             0.027512
198      Nepal  29674920.0                 785541.0             2.647155
199    Myanmar  54806014.0                 448158.0             0.817717
200    Eritrea   3601462.0                   6674.0             0.185314

[201 rows x 4 columns]

In [14]:
"""
    Countries with the highest population infection percentage
"""


query = """
    SELECT
        Location,
        Population,
        MAX(Total_cases) AS Highest_infection_count,
        MAX(total_cases/population) * 100 AS Population_infected
    FROM covid_death_figures
    WHERE
        Total_cases/population IS NOT NULL
    GROUP BY
        Location, Population
    ORDER BY Population_infected DESC
"""
df = pd.read_sql_query(query, connection)
df

,location,population,highest_infection_count,population_infected
0,Seychelles,98910.0,20961.0,21.191993
1,Montenegro,628051.0,126684.0,20.170973
2,Andorra,77354.0,15140.0,19.572356
3,San Marino,34010.0,5419.0,15.933549
4,Czechia,10724553.0,1686364.0,15.724329
...,...,...,...,...
196,Tanzania,61498438.0,1367.0,0.002223
197,Kiribati,121388.0,2.0,0.001648
198,Samoa,200144.0,3.0,0.001499
199,Vanuatu,314464.0,4.0,0.001272
200,Micronesia (country),116255.0,1.0,0.000860

In [16]:
"""
    Countries with the highest death count per population
"""


query = """
    SELECT
        Location,
        MAX(CAST(Total_deaths AS INT)) AS Total_death_count
    FROM covid_death_figures
    WHERE
        CAST(Total_deaths AS INT) IS NOT NULL
    GROUP BY
        Location
    ORDER BY
        Total_death_count DESC
"""
df = pd.read_sql_query(query, connection)
df

                             location  total_death_count
0                               World            4700003
1                              Europe            1209338
2                       South America            1147168
3                                Asia            1104730
4                       North America            1030430
..                                ...                ...
190  Saint Vincent and the Grenadines                 14
191             Saint Kitts and Nevis                 10
192                          Dominica                 10
193                            Bhutan                  3
194                           Vanuatu                  1

[195 rows x 2 columns]

In [23]:
"""
    Total death count by continent
"""

query = """
    SELECT
        CASE
            WHEN Continent IS NOT NULL 
                THEN Continent
            ELSE 'World'
        END AS Continent,
        MAX(CAST(Total_deaths AS INT)) AS Total_death_count
    FROM covid_death_figures
    GROUP BY
        Continent
    ORDER BY
        Total_death_count DESC
"""
df = pd.read_sql_query(query, connection)
df

       continent  total_death_count
0          World            4700003
1  North America             676076
2  South America             590955
3           Asia             445385
4         Europe             195438
5         Africa              86216
6        Oceania               1178

In [58]:
"""
    Death percentage overall
"""

query = """
    Select 
        SUM(New_cases) as Total_cases, 
        SUM(CAST(New_deaths AS INT)) as Total_deaths, 
        SUM(CAST(New_deaths AS INT))/SUM(New_Cases)*100 as Death_percentage
    From covid_death_figures
    WHERE Continent IS NOT NULL
    order by 1,2
"""

df = pd.read_sql_query(query, connection)
df

   total_cases  total_deaths  death_percentage
0  228604750.0       4691185          2.052094

In [64]:
query = """
    SELECT
        Continent,
        Location,
        Date,
        Population,
        New_vaccinations,
        SUM(CAST(New_vaccinations AS INT)) OVER(PARTITION BY Location ORDER BY Location, Date) AS Rolling_people_vaccinated
    FROM covid_death_figures
    WHERE
        Continent IS NOT NULL
    ORDER BY
        Location, Date
"""

df = pd.read_sql_query(query, connection)
df

,continent,location,date,population,new_vaccinations,rolling_people_vaccinated
0,Asia,Afghanistan,2020-02-24,39835428.0,NaN,NaN
1,Asia,Afghanistan,2020-02-25,39835428.0,NaN,NaN
2,Asia,Afghanistan,2020-02-26,39835428.0,NaN,NaN
3,Asia,Afghanistan,2020-02-27,39835428.0,NaN,NaN
4,Asia,Afghanistan,2020-02-28,39835428.0,NaN,NaN
...,...,...,...,...,...,...
112731,Africa,Zimbabwe,2021-09-16,15092171.0,108486.0,4270818.0
112732,Africa,Zimbabwe,2021-09-17,15092171.0,NaN,4270818.0
112733,Africa,Zimbabwe,2021-09-18,15092171.0,NaN,4270818.0
112734,Africa,Zimbabwe,2021-09-19,15092171.0,22540.0,4293358.0
112735,Africa,Zimbabwe,2021-09-20,15092171.0,29768.0,4323126.0