In [1]:
#importing libraries libraries
import pandas as pd
from private_info import postgreSQL_credentials, google_drive_key_path, email
import gspread #connect to Google account
import psycopg2
from google.oauth2.service_account import Credentials
from sqlalchemy import create_engine

In [2]:
#Connecting to self-hosted PostgreSQL database
#The psycopg library is better at creating views and tables
connection = psycopg2.connect(
    database="covid_exploration", 
    user="postgres", 
    password=postgreSQL_credentials, 
    host="127.0.0.1", 
    port="5432"
)
psycopg_cursor = connection.cursor()
print("Database opened successfully")


#Takes advantage of functions only available through sqlalchemy
engine = create_engine(f'postgresql://postgres:{postgreSQL_credentials}@localhost:5432/covid_exploration')
second_connection = engine.raw_connection()
alchemy_cursor = second_connection.cursor()

Database opened successfully

In [3]:
dfs = []
sheet_names = []

In [4]:
query = """
    SELECT 
        SUM(new_cases) as total_cases,
        SUM(CAST(new_deaths AS INTEGER)) AS total_deaths,
        SUM(cast(new_deaths AS INTEGER))/SUM(New_Cases) as death_percentage
    FROM covid_data
    WHERE 
        continent IS NOT NULL
    ORDER BY 1, 2
"""

# pd.set_option('display.max_rows', 5)

df1 = pd.read_sql_query(query, second_connection)

dfs.append(df1)
sheet_names.append('Max Values')
df1

   total_cases  total_deaths  death_percentage
0  330174784.0       5520064          0.016719

In [5]:
query = """
    SELECT 
        location,
        SUM(CAST(new_deaths AS INTEGER)) AS total_death_count
    FROM covid_data
    WHERE 
        continent IS NULL
            AND
        location NOT IN ('Upper middle income', 'Low income', 'High income', 'World', 'European Union', 'International')
    GROUP BY location
    ORDER BY total_death_count DESC
"""

# pd.set_option('display.max_rows', 5)

df2 = pd.read_sql_query(query, second_connection)
dfs.append(df2)
sheet_names.append('Total Death By Continent')

df2

              location  total_death_count
0               Europe            1577682
1                 Asia            1269438
2        North America            1248469
3  Lower middle income            1204239
4        South America            1186315
5               Africa             233090
6              Oceania               5070

In [6]:
query = """
    SELECT 
        location,
        population,
        MAX(total_cases) AS highest_infection_count,
        MAX(total_cases/population) AS percent_population_infected
    FROM covid_data
    WHERE
        total_cases/population <> double precision 'NaN'
    GROUP BY
        location, population
    ORDER BY percent_population_infected DESC
"""

# pd.set_option('display.max_rows', 5)

df3 = pd.read_sql_query(query, second_connection)
dfs.append(df3)
sheet_names.append('Population Data')
df3

,location,population,highest_infection_count,percent_population_infected
0,Andorra,77354.0,29888.0,0.386380
1,Seychelles,98910.0,32846.0,0.332080
2,Montenegro,628051.0,204862.0,0.326187
3,Gibraltar,33691.0,10935.0,0.324567
4,San Marino,34010.0,10641.0,0.312879
...,...,...,...,...
222,Vanuatu,314464.0,7.0,0.000022
223,Kiribati,121388.0,2.0,0.000016
224,Samoa,200144.0,3.0,0.000015
225,Tonga,106759.0,1.0,0.000009
226,Micronesia (country),116255.0,1.0,0.000009

In [15]:
query = """
    SELECT 
        location,
        population,
        date,
        MAX(total_cases) AS highest_infection_count,
        MAX(total_cases/population) AS percent_population_infected
    FROM covid_data
    WHERE
        total_cases/population <> double precision 'NaN'
    GROUP BY
        location, population, date
    ORDER BY percent_population_infected DESC
"""

# pd.set_option('display.max_rows', 5)

df4 = pd.read_sql_query(query, second_connection)
dfs.append(df4)
sheet_names.append('Population Data with Date')

df4

,location,population,date,highest_infection_count,percent_population_infected
0,Andorra,7.735400e+04,2022-01-16,29888.0,3.863795e-01
1,Andorra,7.735400e+04,2022-01-15,29888.0,3.863795e-01
2,Andorra,7.735400e+04,2022-01-14,29888.0,3.863795e-01
3,Andorra,7.735400e+04,2022-01-17,29888.0,3.863795e-01
4,Andorra,7.735400e+04,2022-01-12,28899.0,3.735941e-01
...,...,...,...,...,...
151858,India,1.393409e+09,2020-01-31,1.0,7.176644e-10
151859,India,1.393409e+09,2020-02-01,1.0,7.176644e-10
151860,India,1.393409e+09,2020-01-30,1.0,7.176644e-10
151861,Lower middle income,3.330653e+09,2020-01-23,2.0,6.004829e-10
151862,Lower middle income,3.330653e+09,2020-01-24,2.0,6.004829e-10

In [8]:
def establish_credentials():
    scopes = [
        'https://www.googleapis.com/auth/spreadsheets',
        'https://www.googleapis.com/auth/drive'
    ]

    credentials = Credentials.from_service_account_file(
        google_drive_key_path,
        scopes=scopes
    )
    return gspread.authorize(credentials)

In [1]:

def read_spreadsheet(spreadsheet_name, sheet_page):
    gc = establish_credentials()
    gc = gc.open(spreadsheet_name)
    print(gc)
    values = gc.get_worksheet(0).get_all_values()
    df = pd.DataFrame(values)

    return df
read_spreadsheet('collective_lead_data', 0)

NameError: name 'establish_credentials' is not defined

In [17]:
def create_and_update_sheets(email_share, sheet_title, worksheet_titles, dfs):
    gc = establish_credentials()
    new_sheet = gc.create(sheet_title)
    for i in range(len(dfs)):
        print(i)
        new_sheet.share(email_share, perm_type='user', role='owner')
        sheet =new_sheet.add_worksheet(title=worksheet_titles[i], rows=1, cols=1)
        dfs[i].fillna('')
        sheet.update([dfs[i].columns.values.tolist()] + dfs[i].values.tolist())
        print(worksheet_titles[i] + ' created and populated')

In [18]:
create_and_update_sheets(email, 'Tableau Covid Data', sheet_names, dfs)

0
Max Values created and populated
1
Total Death By Continent created and populated
2
Population Data created and populated
3
Population Data with Date created and populated
4

APIError: {'code': 400, 'message': 'Invalid requests[0].addSheet: A sheet with the name "Population Data with Date" already exists. Please enter another name.', 'status': 'INVALID_ARGUMENT'}